.table-container {
  /* margin-top: 10px; */
  border-collapse: collapse;
}


.table-head {
  background-color: rgb(143, 143, 143);
}

.table-column {
  padding: 5px 8px;
}

.line {
  height: 10px;
}

.padding-left{
  padding-left: 10px;
}

.padding-rigth {
  padding-right: 10px;
}

.line:nth-child(2n) {
  background-color: rgb(202, 202, 202);
}

.line-center {
  text-align: center;
}
